<?xml version="1.0" encoding="UTF-8"?>
<suites>
    <!-- Declaring the suite-->
    <suite name="Service">
        <test name="FileChunkSetTest">
            <classes>
                <class name="com.sysgears.service.processor.processable.factory.UTestFileChunksSet"/>
            </classes>
            <packages>
                <package name="com.sysgears.service.processor.processable.factory"/>
            </packages>
        </test>
        <test name="IOProcessorTest">
            <classes>
                <class name="com.sysgears.service.processor.UTestIOProcessor"/>
            </classes>
            <packages>
                <package name="com.sysgears.service.processor"/>
            </packages>
        </test>
    </suite>
</suites>