<?xml version="1.0" encoding="UTF-8"?>
<suites>
    <!-- Declaring the suite-->
    <suite name="UI">
        <test name="initTests">
            <classes>
                <class name="com.sysgears.example.user.ITestStart"/>
            </classes>
            <packages>
                <package name="com.sysgears.example.user"/>
            </packages>
        </test>
        <test name="userTest">
            <!-- Initializing test's groups-->
            <groups>
                <run>
                    <include name="addUser"/>
                </run>
            </groups>
            <classes>
                <class name="com.sysgears.example.user.ITestUserUpdater"/>
            </classes>
            <packages>
                <package name="com.sysgears.example.user"/>
            </packages>
        </test>
        <test name="itemTest">
            <!-- Initializing test's groups-->
            <groups>
                <run>
                    <include name="itemTests"/>
                </run>
            </groups>
            <classes>
                <class name="com.sysgears.example.user.ITestItemUpdater"/>
            </classes>
            <packages>
                <package name="com.sysgears.example.user"/>
            </packages>
        </test>
    </suite>
</suites>